<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there! My name is Jennifer and I'm a data scientist with a particular interest in business analytics. 
          My path into data started with a curiosity for finding the story behind the numbers. I enjoy the moment a dataset stops being noise and
         starts pointing to more clear decisions. That's carried me from statistical modeling in R to building full
         pipelines with Airflow and dbt, to dashboards that put insights directly in front of stakeholders.</p>
      </div>
      <div class="col-lg-4">
        <p>I'm especially drawn to problems at the intersection of forecasting and operations, but truly all business processes intrigue me. I strive to facilitate 
          the kind of work where a model has a visible, real-world payoff. My toolkit spans SQL, Python, R, and Power BI, with
         a focus on machine learning and time series forecasting. Take a look at some of my recent projects below,
         or reach out if you'd like to connect.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:jennifer1132arreola@gmail.com" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Get In Touch
        </a>
      </div>
    </div>
  </div>
</section>
